################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Alpitour.Integration.MarketingCloud/v16
/.vs/Alpitour.Integration.MarketingCloud/DesignTimeBuild
/Alpitour.Integration.MarketingCloud/bin
/Alpitour.Integration.MarketingCloud/obj
/DemoAppWebApi/bin
/DemoAppWebApi/obj